<pre style="background-color:#282a36;color:#f8f8f2">
<span style="color:#6272a4">/**</span>
<span style="color:#6272a4"> * </span><span style="color:#d465a7;font-style:italic">SPDX-FileCopyrightText:</span><span style="color:#6272a4"> 2020 Christoph Cullmann </span><span style="color:#d465a7">&lt;cullmann@kde.org></span>
<span style="color:#6272a4"> * </span><span style="color:#d465a7;font-style:italic">SPDX-License-Identifier:</span><span style="color:#d465a7;font-style:italic"> </span><span style="color:#d465a7;font-style:italic">MIT</span>
<span style="color:#6272a4"> */</span>

<span style="color:#6272a4">// </span><span style="color:#6db8c7">BEGIN</span>
<span style="color:#ff79c6">#include </span><span style="color:#f1fa8c">&lt;string></span>
<span style="color:#ff79c6">#include </span><span style="color:#f1fa8c">&lt;QString></span>
<span style="color:#6272a4">// </span><span style="color:#6db8c7">END</span>

<span style="color:#6272a4">/**</span>
<span style="color:#6272a4"> * </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold">TODO</span><span style="color:#6272a4">: improve documentation</span>
<span style="color:#6272a4"> * </span><span style="color:#d465a7">@param</span><span style="color:#6272a4"> </span><span style="color:#c58e53">magicArgument</span><span style="color:#6272a4"> some magic argument</span>
<span style="color:#6272a4"> * </span><span style="color:#d465a7">@return</span><span style="color:#6272a4"> magic return value</span>
<span style="color:#6272a4"> */</span>
<span style="color:#8be9fd;font-style:italic">int</span> main(<span style="color:#8be9fd;font-style:italic">uint64_t</span> magicArgument)
{
    <span style="color:#ff79c6">if</span> (magicArgument > <span style="color:#bd93f9">1</span>) {
        <span style="color:#ff79c6">const</span> <span style="color:#8be9fd">std::string</span> string = <span style="color:#f1fa8c">"source file: </span><span style="color:#ff79c6">\"</span><span style="color:#f1fa8c">"</span> <span style="color:#50fa7b">__FILE__</span> <span style="color:#f1fa8c">"</span><span style="color:#ff79c6">\"</span><span style="color:#f1fa8c">"</span>;
        <span style="color:#ff79c6">const</span> <span style="color:#8be9fd">QString</span> qString(<span style="color:#8be9fd">QStringLiteral</span>(<span style="color:#f1fa8c">"test"</span>));
        <span style="color:#ff79c6">return</span> <span style="color:#50fa7b">qrand</span>();
    }

    <span style="color:#6272a4">/* </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold">BUG</span><span style="color:#6272a4">: bogus integer constant inside next line */</span>
    <span style="color:#ff79c6">const</span> <span style="color:#8be9fd;font-style:italic">double</span> g = <span style="color:#bd93f9">1.1e12</span> * <span style="color:#bd93f9">0b01'01'01'01</span> - <span style="color:#bd93f9">43</span><span style="color:#ff5555;text-decoration:underline">a</span> + <span style="color:#bd93f9">0x11234</span> * <span style="color:#bd93f9">0234</span><span style="color:#ff79c6">ULL</span> - <span style="color:#f1fa8c">'c'</span> * <span style="color:#bd93f9">42</span>;
    <span style="color:#ff79c6">return</span> g > <span style="color:#bd93f9">1.3</span><span style="color:#ff79c6">f</span>;
}
</pre>
