<pre style="background-color:#f7f3f3;color:#303030">
<span style="color:#505050">/**</span>
<span style="color:#505050"> * </span><span style="color:#ca60ca;font-style:italic">SPDX-FileCopyrightText:</span><span style="color:#505050"> 2020 Christoph Cullmann </span><span style="color:#5317ac;font-weight:bold">&lt;cullmann@kde.org></span>
<span style="color:#505050"> * </span><span style="color:#ca60ca;font-style:italic">SPDX-License-Identifier:</span><span style="color:#ca60ca;font-style:italic"> </span><span style="color:#ca60ca;font-style:italic">MIT</span>
<span style="color:#505050"> */</span>

<span style="color:#505050">// </span><span style="color:#0057ae">BEGIN</span>
<span style="color:#006e28">#include </span><span style="color:#813e00">&lt;string></span>
<span style="color:#006e28">#include </span><span style="color:#813e00">&lt;QString></span>
<span style="color:#505050">// </span><span style="color:#0057ae">END</span>

<span style="color:#505050">/**</span>
<span style="color:#505050"> * </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold">TODO</span><span style="color:#505050">: improve documentation</span>
<span style="color:#505050"> * </span><span style="color:#ca60ca;font-weight:bold">@param</span><span style="color:#505050"> </span><span style="color:#0095ff;font-weight:bold">magicArgument</span><span style="color:#505050"> some magic argument</span>
<span style="color:#505050"> * </span><span style="color:#ca60ca;font-weight:bold">@return</span><span style="color:#505050"> magic return value</span>
<span style="color:#505050"> */</span>
<span style="color:#0057ae">int</span> main<span style="color:#b455b4">(</span><span style="color:#0057ae">uint64_t</span> magicArgument<span style="color:#b455b4">)</span>
<span style="color:#b455b4">{</span>
    <span style="color:#005f88">if</span> <span style="color:#b455b4">(</span>magicArgument <span style="color:#b455b4">></span> <span style="color:#b08000">1</span><span style="color:#b455b4">)</span> <span style="color:#b455b4">{</span>
        <span style="color:#0057ae">const</span> <span style="color:#644a9b">std::string</span> string <span style="color:#b455b4">=</span> <span style="color:#2544bb">"source file: </span><span style="color:#3daee9">\"</span><span style="color:#2544bb">"</span> <span style="color:#006e28">__FILE__</span> <span style="color:#2544bb">"</span><span style="color:#3daee9">\"</span><span style="color:#2544bb">"</span><span style="color:#b455b4">;</span>
        <span style="color:#0057ae">const</span> <span style="color:#0095ff">QString</span> qString<span style="color:#b455b4">(</span><span style="color:#0095ff">QStringLiteral</span><span style="color:#b455b4">(</span><span style="color:#2544bb">"test"</span><span style="color:#b455b4">))</span><span style="color:#b455b4">;</span>
        <span style="color:#005f88">return</span> <span style="color:#721045">qrand</span><span style="color:#b455b4">()</span><span style="color:#b455b4">;</span>
    <span style="color:#b455b4">}</span>

    <span style="color:#505050">/* </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold">BUG</span><span style="color:#505050">: bogus integer constant inside next line */</span>
    <span style="color:#0057ae">const</span> <span style="color:#0057ae">double</span> g <span style="color:#b455b4">=</span> <span style="color:#b08000">1.1e12</span> <span style="color:#b455b4">*</span> <span style="color:#b08000">0b01'01'01'01</span> <span style="color:#b455b4">-</span> <span style="color:#b08000">43</span><span style="color:#bf0303;text-decoration:underline">a</span> <span style="color:#b455b4">+</span> <span style="color:#b08000">0x11234</span> <span style="color:#b455b4">*</span> <span style="color:#b08000">0234</span><span style="color:#644a9b">ULL</span> <span style="color:#b455b4">-</span> <span style="color:#924c9d">'c'</span> <span style="color:#b455b4">*</span> <span style="color:#b08000">42</span><span style="color:#b455b4">;</span>
    <span style="color:#005f88">return</span> g <span style="color:#b455b4">></span> <span style="color:#b08000">1.3</span><span style="color:#644a9b">f</span><span style="color:#b455b4">;</span>
<span style="color:#b455b4">}</span>
</pre>
