<pre style="background-color:#ffffff;color:#000000">
<span style="color:#898887">/**</span>
<span style="color:#898887"> * </span><span style="color:#ca60ca;font-style:italic">SPDX-FileCopyrightText:</span><span style="color:#898887"> 2020 Christoph Cullmann </span><span style="font-weight:bold">&lt;cullmann@kde.org></span>
<span style="color:#898887"> * </span><span style="color:#ca60ca;font-style:italic">SPDX-License-Identifier:</span><span style="color:#ca60ca;font-style:italic"> </span><span style="color:#ca60ca;font-style:italic">MIT</span>
<span style="color:#898887"> */</span>

<span style="color:#898887">// </span><span style="color:#0057ae;background-color:#e0e9f8">BEGIN</span>
<span style="color:#006e28">#include </span><span style="color:#644a9b">&lt;string></span>
<span style="color:#006e28">#include </span><span style="color:#644a9b">&lt;QString></span>
<span style="color:#898887">// </span><span style="color:#0057ae;background-color:#e0e9f8">END</span>

<span style="color:#898887">/**</span>
<span style="color:#898887"> * </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold">TODO</span><span style="color:#898887">: improve documentation</span>
<span style="color:#898887"> * </span><span style="color:#ca60ca;font-weight:bold">@param</span><span style="color:#898887"> </span><span style="color:#0095ff;font-weight:bold">magicArgument</span><span style="color:#898887"> some magic argument</span>
<span style="color:#898887"> * </span><span style="color:#ca60ca;font-weight:bold">@return</span><span style="color:#898887"> magic return value</span>
<span style="color:#898887"> */</span>
<span style="color:#0057ae">int</span> main(<span style="color:#0057ae">uint64_t</span> magicArgument)
{
    <span style="font-weight:bold">if</span> (magicArgument > <span style="color:#b08000">1</span>) {
        <span style="color:#0057ae">const</span> <span style="color:#644a9b">std::string</span> string = <span style="color:#bf0303">"source file: </span><span style="color:#ff5500">\"</span><span style="color:#bf0303">"</span> <span style="color:#006e28">__FILE__</span> <span style="color:#bf0303">"</span><span style="color:#ff5500">\"</span><span style="color:#bf0303">"</span>;
        <span style="color:#0057ae">const</span> <span style="color:#0095ff;font-weight:bold">QString</span> qString(<span style="color:#0095ff;font-weight:bold">QStringLiteral</span>(<span style="color:#bf0303">"test"</span>));
        <span style="font-weight:bold">return</span> <span style="color:#644a9b">qrand</span>();
    }

    <span style="color:#898887">/* </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold">BUG</span><span style="color:#898887">: bogus integer constant inside next line */</span>
    <span style="color:#0057ae">const</span> <span style="color:#0057ae">double</span> g = <span style="color:#b08000">1.1e12</span> * <span style="color:#b08000">0b01'01'01'01</span> - <span style="color:#b08000">43</span><span style="color:#bf0303;text-decoration:underline">a</span> + <span style="color:#b08000">0x11234</span> * <span style="color:#b08000">0234</span><span style="color:#644a9b">ULL</span> - <span style="color:#924c9d">'c'</span> * <span style="color:#b08000">42</span>;
    <span style="font-weight:bold">return</span> g > <span style="color:#b08000">1.3</span><span style="color:#644a9b">f</span>;
}
</pre>
