<pre style="background-color:#fdf6e3;color:#657b83">
<span style="color:#93a1a1;font-style:italic">/**</span>
<span style="color:#93a1a1;font-style:italic"> * </span><span style="color:#268bd2;font-style:italic">SPDX-FileCopyrightText:</span><span style="color:#93a1a1;font-style:italic"> 2020 Christoph Cullmann </span><span style="color:#859900;font-weight:bold">&lt;cullmann@kde.org></span>
<span style="color:#93a1a1;font-style:italic"> * </span><span style="color:#268bd2;font-style:italic">SPDX-License-Identifier:</span><span style="color:#268bd2;font-style:italic"> </span><span style="color:#268bd2;font-style:italic">MIT</span>
<span style="color:#93a1a1;font-style:italic"> */</span>

<span style="color:#93a1a1;font-style:italic">// </span><span style="color:#268bd2;background-color:#eee8d5">BEGIN</span>
<span style="color:#cb4b16">#include </span><span style="color:#2aa198">&lt;string></span>
<span style="color:#cb4b16">#include </span><span style="color:#2aa198">&lt;QString></span>
<span style="color:#93a1a1;font-style:italic">// </span><span style="color:#268bd2;background-color:#eee8d5">END</span>

<span style="color:#93a1a1;font-style:italic">/**</span>
<span style="color:#93a1a1;font-style:italic"> * </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold">TODO</span><span style="color:#93a1a1;font-style:italic">: improve documentation</span>
<span style="color:#93a1a1;font-style:italic"> * </span><span style="color:#268bd2;font-weight:bold">@param</span><span style="color:#93a1a1;font-style:italic"> </span><span style="color:#2aa198;font-weight:bold">magicArgument</span><span style="color:#93a1a1;font-style:italic"> some magic argument</span>
<span style="color:#93a1a1;font-style:italic"> * </span><span style="color:#268bd2;font-weight:bold">@return</span><span style="color:#93a1a1;font-style:italic"> magic return value</span>
<span style="color:#93a1a1;font-style:italic"> */</span>
<span style="color:#b58900;font-weight:bold">int</span> main<span style="color:#859900">(</span><span style="color:#b58900;font-weight:bold">uint64_t</span> magicArgument<span style="color:#859900">)</span>
<span style="color:#859900">{</span>
    <span style="color:#859900;font-weight:bold">if</span> <span style="color:#859900">(</span>magicArgument <span style="color:#859900">></span> <span style="color:#2aa198">1</span><span style="color:#859900">)</span> <span style="color:#859900">{</span>
        <span style="color:#268bd2">const</span> <span style="color:#cb4b16">std::string</span> string <span style="color:#859900">=</span> <span style="color:#2aa198">"source file: </span><span style="color:#dc322f">\"</span><span style="color:#2aa198">"</span> <span style="color:#859900">__FILE__</span> <span style="color:#2aa198">"</span><span style="color:#dc322f">\"</span><span style="color:#2aa198">"</span><span style="color:#859900">;</span>
        <span style="color:#268bd2">const</span> <span style="color:#268bd2;font-weight:bold">QString</span> qString<span style="color:#859900">(</span><span style="color:#268bd2;font-weight:bold">QStringLiteral</span><span style="color:#859900">(</span><span style="color:#2aa198">"test"</span><span style="color:#859900">))</span><span style="color:#859900">;</span>
        <span style="color:#859900;font-weight:bold">return</span> <span style="color:#268bd2">qrand</span><span style="color:#859900">()</span><span style="color:#859900">;</span>
    <span style="color:#859900">}</span>

    <span style="color:#93a1a1;font-style:italic">/* </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold">BUG</span><span style="color:#93a1a1;font-style:italic">: bogus integer constant inside next line */</span>
    <span style="color:#268bd2">const</span> <span style="color:#b58900;font-weight:bold">double</span> g <span style="color:#859900">=</span> <span style="color:#2aa198">1.1e12</span> <span style="color:#859900">*</span> <span style="color:#2aa198">0b01'01'01'01</span> <span style="color:#859900">-</span> <span style="color:#2aa198">43</span><span style="color:#dc322f;text-decoration:underline">a</span> <span style="color:#859900">+</span> <span style="color:#2aa198">0x11234</span> <span style="color:#859900">*</span> <span style="color:#2aa198">0234</span><span style="color:#cb4b16">ULL</span> <span style="color:#859900">-</span> <span style="color:#2aa198">'c'</span> <span style="color:#859900">*</span> <span style="color:#2aa198">42</span><span style="color:#859900">;</span>
    <span style="color:#859900;font-weight:bold">return</span> g <span style="color:#859900">></span> <span style="color:#2aa198">1.3</span><span style="color:#cb4b16">f</span><span style="color:#859900">;</span>
<span style="color:#859900">}</span>
</pre>
