<table>
{{ $len := len . }}
{{ range $index, $contributor := . }}
  {{ if eq (mod $index 2) 0 }}
  <tr>
  {{ end }}
    <td>
      {{ if $contributor.new }}<b>{{ $contributor.name }}</b>
      {{ else }}{{ $contributor.name }}
      {{ end }}
    </td>
  {{ if or (eq (mod $index 2) 1) (eq (add $index 1) $len) }}
  </tr>
  {{ end }}
{{ end }}
</table>
